/* teamSetup */
.teams {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-switcher {
    border: 1px solid black;
}

.team-member {
    border: 1px solid blue;
    margin: 10px;
}

/* giveHints */
.giveHintsUi {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hint label {
    font-size: 50px
}

.hint input {
    font-size: 50px
}

.words {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    top: 70px;
    left: 115px;
    height: 100px;
    width: 900px;
}

.word {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 160px;
    color: #cc0000;
    font-size: 20pt;
    font-weight: bold;
}

.tokens {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.token {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.token-success {
    background-image: url('img/assets/token-success.png');
    background-color: #ffffff;
}

.token-fail {
    background-image: url('img/assets/token-fail.png');
    background-color: #333333;
    background-position-y: 20px;
}
