#teams {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-switcher {
    border: 1px solid black;
}

.team-member {
    border: 1px solid blue;
    margin: 10px;
}

#giveHintsUi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#guessHintsUi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.hint {
    margin: 10px;
}

.hint label {
    font-size: 50px;
}

.hint input {
    font-size: 50px;
}

.guess {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border: 1px black solid;
    width: 750px;
    padding: 10px;
    margin: 10px;
}

.guess-label {
    font-size: 50px;
    color: black;
    width: 500px;
}

.guess-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.guess-selector-item {
    font-size: 50px;
    border: 1px solid red;
    color: red;
    background-color: black;
    width: 50px;
    text-align: center;
}

#boardUi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#wordsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 200px;
    width: 600px;
}

#codeStack {
    height: 100px;
    width: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/assets/codecard_stack.png');
}

#code {
    height: 100px;
    width: 100px;

    background-color: black;
    color: #cc0000;
    font-size: 20pt;
    font-weight: bold;

    text-align: center;
    padding-top: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/assets/codecard_front.png');
}

.word {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #cc0000;
    font-size: 20pt;
    font-weight: bold;

    width: 400px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/assets/word-panel.png');
}

.word span {
    background-color: black;
    position: relative;
    top: -25px;
}

.tokensSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tokens {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.token {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.token-success {
    background-image: url('img/assets/token-success.png');
    background-color: #ffffff;
}

.token-fail {
    background-image: url('img/assets/token-fail.png');
    background-color: #333333;
    background-position-y: 10px;
}
